$dark-purple: #6f3473;
$mid-purple: #7179b5;
$light-purple: #c4bdfc;
$blue: #6898be;
$light-blue: #e4e4fc;
$grey: #ddd9da;
$black: #201c1e;
$navigation_text: #836886;

//Background is usually white
$alternative-background: #e6e5f5;
$alternative-background2: #aaa;

$warning: #d47b24;
$success: #578b5c;
$error: #f44336;
