@import "src/styles/colours.scss";

.container {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  column-gap: 16px;
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 64px;
}

.title {
  color: $dark-purple;
  grid-column: 1 / span 4;
}

.parties {
  grid-column: 1 / span 8;
  grid-row: 2;
}

.todos {
  grid-column: 9 / span 4;
  grid-row: 2;
}