@import "src/styles/colours.scss";

.header {
  border-bottom: $grey solid 1px;
  margin-bottom: 0px;
  padding-top: 16px;
  background: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 140px;
  margin-right: 140px;
}

.title {
  font-size: 24px;
  color: $dark-purple;
  font-weight: 500;

  img{
    height: auto;
    width: 200px;
  }
}

.header-buttons {
  display: flex;
  align-content: center;
}

.loginButton {
  margin-right: 16px;
  border: none;
  color: $black;
  background: none;
  font-size: 16px;
}

.registerButton {
  color: $dark-purple;
  font-size: 16px;
  border: none;
  background: none;
}
