@import "src/styles/colours.scss";

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 16px;
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 128px;
}

.title {
  margin: 0px;
  color: $black;
  font-size: 48px;
  grid-column: 1 / span 4;
}

.paragraph {
  font-size: 16px;
  grid-column: 1 / span 4;
  grid-row: 2;
  margin-top: 32px;
}

.button {
  grid-column: 1 / span 2;
  grid-row: 3;
  background: $dark-purple;
  border: none;
  color: white;
  padding: 8px;
  border-radius: 15px;
  margin-top: 16px;
}

.img {
  grid-column-start: 5;
  grid-column-end: 12;
  grid-row: 1 / span 6;
}

