@import "src/styles/colours.scss";

.grid {
  display: grid;
  row-gap: 8px;
  margin-top: 8px;
  max-height: 70vh;
  overflow-y: auto;
}

.error {
  color: $error;
  padding: 32px 0 32px 0;
  border: $grey solid 1pt;
  margin: 0;
  background: white;
  text-align: center;
}

.loading {
  margin: 0;
  padding: 32px 0 32px 0;
  border: $grey solid 1pt;
  background: white;
  text-align: center;
}