@import '../../styles/colours.scss';

.taskContainer {
  padding: 8px;
  margin: 0px;
  border: $grey solid 1pt;
  background: white;
}

.taskHeader {
  display: flex;
  justify-content: space-between;
}

.taskTitle {
  margin: 0;
  color: $black;
  font-weight: 500;
}

.taskCompleted {
  margin: 0;
  color: $success;
  font-weight: 500;
}

.notCompleted {
  margin: 0;
  color: $error;
  font-weight: 500;
}

.taskDate {
  color: $dark-purple;
  margin: 8px 0 0 0;
  padding: 0;
  font-size: 16px;
}

.taskDesc {
  margin: 8px 0 0 0;
  font-size: 16px;
  color: $black;
  padding: 0;
}

.closeButton {
  padding: 0;
  border: none;
  background: none;
  color: $grey;
  margin-left: auto;
}

.closeContainer {
  display: flex;
  flex-direction: row-reverse;
}