@import "../../styles/colours";


.form {
  margin-top: 32px;
  display: grid;
  grid-column: 1;
  row-gap: 16px;
}

.error {
  color: $error;
  margin: 0px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  background: white;
}

.input {
  font-size: 16px;
  padding: 8px;
  border: none;
  border-bottom: $grey 1px solid;
  outline: none;
  color: $black;
  width: 50%;
}

.input::placeholder {
  font-size: 16px;
  color: $grey;
}


.grid {
  display: grid;
  row-gap: 16px;
  margin-top: 8px;
  max-height: 70vh;
  overflow-y: auto;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 16px;
  grid-auto-rows: 1fr
}

.container {
  margin-top: 32px;
  margin-left: 140px;
  margin-right: 140px;
}

.error {
  color: $error;
  padding: 32px 0 32px 0;
  border: $grey solid 1pt;
  margin: 0;
  background: white;
  text-align: center;
  grid-row: 1;
  grid-column: 1 / span 12;
}

.loading {
  padding: 8px;
  margin: 32px 0 32px 0;
  border: $grey solid 1pt;
  background: white;
  text-align: center;
}

.buttonSubmit {
  background: $dark-purple;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  margin-top: 16px;
  padding: 8px;
}

.flexContainer{
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.party{
  flex: 20%;
  margin-right: 2%;
  padding:20px 20px;
  margin-bottom: 30px;
  border-radius: 25px;
  background: $dark-purple;
}



.party:hover{
  background: $mid-purple;
}

.center{
  text-align: center;
  align-content: center;
}

.searchBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}